body{
    background-color:black;
}
h1{
    text-align:center;
    margin-top:40px;
    color:white;
    color:#ED5AB3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

#number{
    font-size:100px;
    justify-content: center;
}
.btn1{
    margin-left:400px;
    font-size:30px;
}
.btn2,.btn3{
    font-size:30px;
}
.btn1,.btn2,.btn3{
    padding:10px;
    background-color:#ED5AB3;
    color:black;
    /* margin:5px; */
}